name: release

on:
  push:
    tags:
      - "v*"

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false

  build-windows:
    runs-on: windows-latest
    needs:
      - create-release
    env:
      upload_url: ${{ needs.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Build
        run: go build -o dist/mysqlautoinit-${{ github.ref }}-windows.exe
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.upload_url }}
          asset_path: ./dist/mysqlautoinit-${{ github.ref }}-windows.exe
          asset_name: mysqlautoinit-${{ github.ref }}-windows.exe
          asset_content_type: application/vnd.microsoft.portable-executable


  build-ubuntu:
    runs-on: ubuntu-latest
    needs:
      - create-release
    env:
      upload_url: ${{ needs.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Build
        run: go build -o dist/mysqlautoinit-${{ github.ref }}-linux
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.upload_url }}
          asset_path: ./dist/mysqlautoinit-${{ github.ref }}-linux
          asset_name: mysqlautoinit-${{ github.ref }}-linux
          asset_content_type: application/octet-stream

  build-macos:
    runs-on: windows-latest
    needs:
      - create-release
    env:
      upload_url: ${{ needs.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Build
        run: go build -o dist/mysqlautoinit-${{ github.ref }}-macos
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ env.upload_url }}
          asset_path: ./dist/mysqlautoinit-${{ github.ref }}-macos
          asset_name: mysqlautoinit-${{ github.ref }}-macos
          asset_content_type: application/octet-stream