name: test

on:
  push: null
  pull_request: null

jobs:
#   test-windows:
#     strategy:
#       matrix:
#         os: [windows-latest, windows-2022, windows-2019]
#         go-version: [1.18, 1.17]
#     runs-on: ${{ matrix.os }}

#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           go-version: ${{ matrix.go-version }}
#       - run: "& \"C:\\Program Files\\MySQL\\MySQL Server 8.0\\bin\\mysqld\""
#         name: Run MySQL
#       - run: go get -v -u
#         name: Run Go Get
#       - run: go test
#         name: Run Go Test

  test-ubuntu:
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04 ]
        go-version: [ 1.18, 1.17 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          go-version: ${{ matrix.go-version }}
      - run: sudo systemctl start mysql.service
        name: Run MySQL
      - run: go get -v -u
        name: Run Go Get
      - run: go test
        name: Run Go Test
        env:
          Z_TEST_ROOT_PASSWORD: root

#   test-macos:
#     strategy:
#       matrix:
#         os: [ macos-latest, macos-11, macos-10.15 ]
#         go-version: [ 1.18, 1.17 ]
#     runs-on: ${{ matrix.os }}

#     steps:
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v2
#         with:
#           go-version: ${{ matrix.go-version }}
#       - run: brew install mysql
#         name: Install MySQL
#       - run: sudo /usr/local/mysql/support-files/mysql.server start
#         name: Run MySQL
#       - run: go get -v -u
#         name: Run Go Get
#       - run: go test
#         name: Run Go Test
